In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../unsupervised/imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [20]:
df.shape

(1000, 14)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [4]:
df.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [5]:
print(df.columns.tolist())

['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross']

In [6]:
cols_to_drop = ['Poster_Link','Runtime','Gross']
df.drop(cols_to_drop,axis=1,inplace=True)

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
df['text']= df['Series_Title']+' '+df['Genre']+' '+df['Overview']+' '+df['Director']+' '+df['Star1']+' '+df['Star2']+' '+df['Star3']+' '+df['Star4']

In [9]:
df

,Series_Title,Released_Year,Certificate,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,text
0,The Shawshank Redemption,1994,A,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,The Shawshank Redemption Drama Two imprisoned ...
1,The Godfather,1972,A,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"The Godfather Crime, Drama An organized crime ..."
2,The Dark Knight,2008,UA,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"The Dark Knight Action, Crime, Drama When the ..."
3,The Godfather: Part II,1974,A,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"The Godfather: Part II Crime, Drama The early ..."
4,12 Angry Men,1957,U,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"12 Angry Men Crime, Drama A jury holdout attem..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,"Breakfast at Tiffany's Comedy, Drama, Romance ..."
996,Giant,1956,G,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,"Giant Drama, Western Sprawling epic covering t..."
997,From Here to Eternity,1953,Passed,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"From Here to Eternity Drama, Romance, War In H..."
998,Lifeboat,1944,NaN,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,"Lifeboat Drama, War Several survivors of a tor..."
999,The 39 Steps,1935,NaN,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,"The 39 Steps Crime, Mystery, Thriller A man in..."

In [10]:
# vec = CountVectorizer(stop_words='english')
# count_mat = vec.fit_transform(df['text']).toarray()
# print(count_mat.shape)

In [11]:
vec = TfidfVectorizer(stop_words='english',ngram_range=(1,3))
tfidf_mat = vec.fit_transform(df['text']).toarray()
print(tfidf_mat.shape)

(1000, 58853)

In [12]:
sim = cosine_similarity(tfidf_mat, tfidf_mat).round(2)

In [13]:
def get_index_from_name(name):
    return df[df['Series_Title']==name].index[0]

In [14]:
 idx = get_index_from_name('The Godfather')
print(df.iloc[idx])

Series_Title                                         The Godfather
Released_Year                                                 1972
Certificate                                                      A
Genre                                                 Crime, Drama
IMDB_Rating                                                    9.2
Overview         An organized crime dynasty's aging patriarch t...
Meta_score                                                   100.0
Director                                      Francis Ford Coppola
Star1                                                Marlon Brando
Star2                                                    Al Pacino
Star3                                                   James Caan
Star4                                                 Diane Keaton
No_of_Votes                                                1620367
text             The Godfather Crime, Drama An organized crime ...
Name: 1, dtype: object

In [15]:
def recommend_movie(movie_name,k=5):
    idx = get_index_from_name(movie_name)   # get index of users movie
    sim_scores = list(enumerate(sim[idx]))  # get similarity scores for all movies
    sim_scores.sort(key=lambda x: x[1],reverse=True)    # Sort the list so that the heighest scores
    movie_indices = [i[0] for i in sim_scores]      # Get movie indices
    return df.iloc[movie_indices]['Series_Title'].head(k)

In [16]:
recommend_movie('The Godfather',10)

1                 The Godfather
974     The Godfather: Part III
3        The Godfather: Part II
74               Apocalypse Now
693            The Conversation
305           On the Waterfront
447    A Streetcar Named Desire
823         Glengarry Glen Ross
108                    Scarface
164                        Heat
Name: Series_Title, dtype: object